header {
  min-width: 480px;
  min-height: 75px;
}

aside {
  min-width: 480px;
  min-height: 150px;
}
article {
  min-width: 480px;
  min-height: 125px;
}
section {
  float: left;
  min-width: 240px;
  min-height: 250px;
}
footer {
  clear: left;
  min-width: 480px;
  min-height: 80px;
}