/* OnePlus 6 */
.mod-container{
  background-color: #d8d8d8;
}

body {
  max-width: 412px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}
header {
  min-height: 75px;
  min-width: 100%;
}

aside {
  min-height: 150px;
  min-width: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
  min-height: 750px;
}
article {
  min-width: 100%;
  min-height: 125px;
}
section {
  min-width: 50%;
  min-height: 250px;
}
footer {
  min-height: 80px;
  min-width: 100%;
}